.Heading-Montez {
    font-family: 'Montez';
    font-weight: normal;
}
.Heading-Regular {
    font-family: 'Molengo';
}

.Heading-Black {
    color: #000;
}
.Heading-Blue {
    color: #46bacf;
}
.Heading-White {
    color: #fff;
}

h1, h2, h3, h4, h5 {
    margin: 8px;
}
h1 {
    font-size: 8rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3rem;
}
h4 {
    font-size: 2rem;
}
h5 {
    font-size: 1.5rem;
}