.NavigationWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #222;
    padding: 6px 16px;
}

.Navigation {
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin: auto;
}

.NavigationLink {
    background: #222;
    border: 0px;
    font-size: 1rem;
    cursor: pointer;
}

.NavigationLink a {
    color: white;
    text-decoration: none;
    padding: 8px;
}

.NavigationLink a:hover {
    color: #FFB000;
}

.active,
.active:hover,
.active:active,
.active:focus {
    border-bottom: 3px solid #FFB000;
}