.Skill {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 3rem 0;
  box-shadow: -1px -1px 3px #eaeaea;
}
