.Image--smallIcon {
  width: 20px;
  height: 20px;
}

.Image--icon {
  width: 50px;
  height: 50px;
}

.Image--small {
  width: 100px;
  height: 100px;
}

.Image--medium {
  width: 200px;
  height: 200px;
}

.Image--large {
  width: 400px;
  height: 400px;
}

.Image--full {
  width: 100%;
  height: 100%;
}
