.JobDetails {
  padding: 2rem;
  box-sizing: border-box;
  box-shadow: 1px 1px 10px #ddd;
  border: 1px solid #e4e4e4;
  background: white;
}

.JobDetails-Summary {
  display: flex;
  justify-content: space-between;
}

.JobDetails-Logo {
  flex-grow: 0;
}

.JobDetails-Text {
  flex-grow: 1;
  margin-left: 24px;
}

.JobDetails-CompanyName {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 12px;
  padding-bottom: 4px;
  border-bottom: 1px solid black;
}
   
.JobDetails-Role {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 12px;
}

.JobDetails-Description {
  margin-top: 24px;
}

.JobDetails-Description-enter {
  opacity: 0;
  transform: scaleX(0);
}

.JobDetails-Description-enter-active {
  opacity: 1;
  transform: scaleX(1);
  transition: all 600ms ease-in;
}

.JobDetails-Description-exit {
  opacity: 1;
  transform: scaleX(1);
}

.JobDetails-Description-exit-done {
  opacity: 0;
  transform: scaleX(0);
  transition: all 600ms ease-in;
}

.JobDetails-Buttons {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
}

.JobDetails a {
  text-decoration: none;
  padding: 8px;
  font-family: 'Nanum Gothic';
  font-size: 0.9rem;
  font-weight: bold;
  color: black;
  background: white;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.JobDetails a:hover {
  background: #eee;
}

.JobDetails-Links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 499px) {
  .JobDetails-Summary {
    flex-direction: column;
  }

  .JobDetails-CompanyName,
  .JobDetails-Role {
    text-align: center;
  }

  .JobDetails-Text {
    align-items: center;
    margin-left: 0;
  }

  .JobDetails-Logo {
    margin-bottom: 16px;
  }

  .JobDetails-Buttons, .JobDetails-Links {
    flex-direction: column;
  }
  
  .JobDetails-Links a {
    margin-top: 8px;
  }

  .JobDescription-Content {
    text-align: left;
  }

  .JobDescription-Content ul {
    padding-inline-start: 20px;
  }
}

@media screen and (min-width: 500px) {
  .JobDetails {
    text-align: left;
  }

  .JobDetails-Links a {
    margin-left: 8px;
  }
}